button{
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
input{
  height: 25px;
}
button:hover{
  color: green;
  background: none;

}
.App{
  text-align: center;
}
span{
  font-size: 25px;
  margin-right: 10px;
}